<a href="https://colab.research.google.com/github/hbguerrero/pythonProjects/blob/main/Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Collections
1. List
2. Tuples
3. Dictionaries
4. Sets
5. Ranges


Reference: https://python-textbok.readthedocs.io/en/latest/index.html

# **Sets**

The Python set type is called set. A set is a collection of unique elements. If we add multiple copies of the same element to a set, the duplicates will be eliminated, and we will be left with one of each element. To define a set literal, we put a comma-separated list of values inside curly brackets ({ and }):

In [ ]:
animals = {'cat', 'dog', 'goldfish', 'canary', 'cat'}
print(animals) # the set will only contain one cat

{'cat', 'canary', 'goldfish', 'dog'}

We can perform various set operations on sets:

In [ ]:
even_numbers = {2, 4, 6, 8, 10}
big_numbers = {6, 7, 8, 9, 10}

# subtraction: big numbers which are not even
print(big_numbers - even_numbers)

# union: numbers which are big or even
print(big_numbers | even_numbers)

# intersection: numbers which are big and even
print(big_numbers & even_numbers)

{9, 7}
{2, 4, 6, 7, 8, 9, 10}
{8, 10, 6}

It is important to note that unlike lists and tuples sets are not ordered. When we print a set, the order of the elements will be random. If we want to process the contents of a set in a particular order, we will first need to convert it to a list or tuple and sort it.

The sorted function returns a list object:

In [ ]:
print(animals)
print(sorted(animals))

{'cat', 'canary', 'goldfish', 'dog'}
['canary', 'cat', 'dog', 'goldfish']

How do we make an empty set? We have to use the set function. Dictionaries used curly brackets before sets adopted them, so an empty set of curly brackets is actually an empty dictionary:

In [ ]:
# this is an empty dictionary
a = {}

# this is how we make an empty set
b = set()

# **Ranges**

*range* is another kind of immutable sequence type. It is very specialised – we use it to create ranges of integers. Ranges are also generators. We will find out more about generators after, but for now we just need to know that the numbers in the range are generated one at a time as they are needed, and not all at once. In the examples below, we convert each range to a list so that all the numbers are generated and we can print them out:

In [ ]:
# print the integers from 0 to 9
print(list(range(10)))

# print the integers from 1 to 10
print(list(range(1, 11)))

# print the odd integers from 1 to 10
print(list(range(1, 11, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

# **Converting between collection types**

We can convert between the different sequence types quite easily by using the type functions to cast sequences to the desired types – just like we would use float and int to convert numbers:

In [ ]:
animals = ['cat', 'dog', 'goldfish', 'canary', 'cat']

animals_set = set(animals)
animals_unique_list = list(animals_set)
animals_unique_tuple = tuple(animals_unique_list)

We have to be more careful when converting a dictionary to a sequence: do we want to use the keys, the values or pairs of keys and values?

If we convert the key-value pairs of a dictionary to a sequence, each pair will be converted to a tuple containing the key followed by the value.

In [ ]:
marbles = {"red": 34, "green": 30, "brown": 31, "yellow": 29 }

colours = list(marbles) # the keys will be used by default
counts = tuple(marbles.values()) # but we can use a view to get the values
marbles_set = set(marbles.items()) # or the key-value pairs

We can also convert a sequence to a dictionary, but only if it’s a sequence of pairs – each pair must itself be a sequence with two values:

In [ ]:
# Python doesn't know how to convert this into a dictionary
#dict([1, 2, 3, 4])  #Uncomment to verify

# but this will work
dict([(1, 2), (3, 4)])

{1: 2, 3: 4}

# **A bit more about strings**
Strings are also a kind of sequence type – they are sequences of characters, and share some properties with other sequences. For example, we can find the length of a string or the index of a character in the string, and we can access individual elements of strings or slices:

In [ ]:
s = "abracadabra"

print(len(s))
print(s.index("a"))

print(s[0])
print(s[3:5])

11
0
a
ac

Remember that strings are immutable – modifying characters in-place isn’t allowed:

In [ ]:
# this will give us an error
s[0] = "b"

TypeError: 'str' object does not support item assignment

The membership operator has special behaviour when applied to strings: we can use it to determine if a string contains a single character as an element, but we can also use it to check if a string contains a substring:

In [ ]:
print('h' in 'abcd') # False

False

In [ ]:
print('ab' in 'abcd') # False

True

In [ ]:
# this doesn't work for lists
print(['a', 'b'] in ['a', 'b', 'c', 'd']) # False

False

We can easily convert a string to a list of characters:

In [ ]:
abc_list = list("abracadabra")
print(abc_list)

['a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a']

What if we want to convert a list of characters into a string? Using the *str* function on the list will just give us a printable string of the list, including commas, quotes and brackets. To join a sequence of characters (or longer strings) together into a single string, we have to use join.

*join* is not a function or a sequence method – it’s a string method which takes a sequence of strings as a parameter. When we call a string’s join method, we are using that string to glue the strings in the sequence together. For example, to join a list of single characters into a string, with no spaces between them, we call the join method on the empty string:

In [ ]:
l = ['a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a']

s = "".join(l)
print(s)

abracadabra

In [ ]:
animals = ('cat', 'dog', 'fish')

In [ ]:
# a space-separated list
print(" ".join(animals))

cat dog fish

In [ ]:
# a comma-separated list
print(",".join(animals))

cat,dog,fish

In [ ]:
# a comma-separated list with spaces
print(", ".join(animals))

cat, dog, fish

The opposite of joining is splitting. We can split up a string into a list of strings by using the split method. If called without any parameters, split divides up a string into words, using any number of consecutive whitespace characters as a delimiter. We can use additional parameters to specify a different delimiter as well as a limit on the maximum number of splits to perform:

In [ ]:
print("cat    dog fish\n".split())

['cat', 'dog', 'fish']

In [ ]:
print("cat|dog|fish".split("|"))

['cat', 'dog', 'fish']

In [ ]:
print("cat, dog, fish".split(", "))

['cat', 'dog', 'fish']

In [ ]:
print("cat, dog, fish".split(", ", 2))

['cat', 'dog', 'fish']

# **Two-dimensional sequences**
Most of the sequences we have seen so far have been one-dimensional: each sequence is a row of elements. What if we want to use a sequence to represent a two-dimensional data structure, which has both rows and columns? The easiest way to do this is to make a sequence in which each element is also a sequence. For example, we can create a list of lists (The outer list has four elements, and each of these elements is a list with three elements (which are numbers)):

In [ ]:
my_table = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12],
]

To access one of these numbers, we need to use two indices – one for the outer list, and one for the inner list:

In [ ]:
print(my_table[0][0])

1

In [ ]:
# lists are mutable, so we can do this
my_table[0][0] = 42
print(my_table)

[[42, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

When we use a two-dimensional sequence to represent tabular data, each inner sequence will have the same length, because a table is rectangular – but nothing is stopping us from constructing two-dimensional sequences which don’t have this property:

In [ ]:
my_2d_list = [
    [0],
    [1, 2, 3, 4],
    [5, 6],
]
print(my_2d_list)

[[0], [1, 2, 3, 4], [5, 6]]

We can also make a three-dimensional sequence by making a list of lists of lists:

In [ ]:
my_3d_list = [
    [[1, 2], [3, 4]],
    [[5, 6], [7, 8]],
]
print(my_3d_list[0][0][0])

1

# **Lists of lists and so for...**

In [28]:
my_long_list = [0] * 100 # a long list of zeros
print(my_long_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [29]:
day = [""] * 24
print(day)

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [30]:
timetable = day * 7
print(timetable)

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [33]:
timetable = [[""] * 24 for day in range(7)]
print(timetable)

[['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']]